<html>
    <head>
        <title>TPB</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
    <br>
    <div class="container"id="container">
        <h1 class="title">Pirate Bay </h1>
        <p class='aboutText'>Simple Proxy site for the Piratebay written in Flask. 
            <br>
            <a href="/top/movies">Top Movies</a><br>
            <a href="/new/movies">New Movies</a><br>
            <a href="/top/hd/movies">Top HD Movies</a><br>
            <a href="/new/hd/movies">New HD Movies</a><br>

            <a href="/top/tv">Top TV Shows</a><br>
            <a href="/top/hd/tv">Top HD TV Shows</a><br>

            <a href="/top/music">Top Music</a><br>
            <a href="/new/music">New Music</a><br>
            <a href="/top/lossless/music">Top Lossless</a><br>

            <a href="/top/movies/porn">Top Porn Movies</a><br>
            <a href="/new/movies/porn">Top Porn Movies</a><br>
            <a href="/top/hd/movies/porn">Top HD Porn Movies</a><br>
            <a href="/new/hd/movies/porn">New HD Porn Movies</a><br>
            <a href="/top/movieclips/porn">Top Porn Movie Clips</a><br>
            <a href="/new/movieclips/porn">New Porn Movie Clips</a><br>


            <a href="/top/audiobooks">Top Audiobooks</a><br>
            <a href="/top/ebooks">Top E-Books</a><br>
            <a href="/new/ebooks">New E-Books</a><br>


        </p>

    </div>
    </body>
</html>